<footer class="w-full bg-surface-container-lowest dark:bg-surface-container-lowest border-t border-outline-variant/20">
    <div
        class="flex flex-col md:flex-row justify-between items-center py-stack-lg px-margin-mobile max-w-container-max mx-auto gap-stack-md">
        <div class="font-label-md text-label-md font-black text-on-surface">My Dev Portfolio</div>
        <div class="font-label-md text-label-md text-on-surface opacity-70">© 2026 Andile</div>
                <div class="flex gap-stack-lg">
            <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md"
                href="https://github.com/andilemaphalala">GitHub</a>
            <a class="text-on-surface-variant hover:text-primary transition-colors font-body-md text-body-md"
                href="https://www.linkedin.com/in/andile-maphalala/">LinkedIn</a>
        </div>
    </div>
</footer>