<section id="projects" class="relative py-24 px-6 max-w-6xl mx-auto">
  <div class="text-center mb-16 fade-section" id="projects-header">
    <span class="text-cyan-400 font-mono text-sm tracking-[0.2em]">/// PROJECTS</span>
    <h2 class="font-display text-4xl sm:text-5xl font-bold mt-2">Featured <span class="text-cyan-400">Work</span></h2>
    <p class="text-on-surface-muted max-w-xl mx-auto mt-3">Solutions engineered for scalability and impact.</p>
  </div>
    <div class="flex flex-col md:flex-row justify-between items-end mb-stack-xl gap-stack-md">
        <a
            class="font-label-md text-label-md text-primary flex items-center gap-stack-xs hover:gap-stack-sm transition-all"
            href="https://github.com/Andile-Maphalala" target="_blank">
            View GitHub <span class="material-symbols-outlined">arrow_forward</span>
    </a>
    </div>
  <!-- <div class="grid md:grid-cols-2 gap-8 fade-section" id="projects-grid">
    <div class="project-card rounded-2xl p-6 transition-all group">
      <div class="flex items-start justify-between">
        <span class="text-4xl car-icon drift-skid-element">🏎️</span>
        <span class="text-xs font-mono text-cyan-400 bg-cyan-400/10 px-3 py-1 rounded-full">Django · SQLite</span>
      </div>
      <h3 class="text-2xl font-bold mt-4 group-hover:text-cyan-400 transition-colors">F1 Stats</h3>
      <p class="text-on-surface-muted text-sm mt-2 leading-relaxed">Scrape F1 data and visualize race statistics.</p>
      <div class="flex flex-wrap gap-2 mt-4">
        <span class="skill-tag">Python</span><span class="skill-tag">Django</span><span class="skill-tag">SQLite</span><span class="skill-tag">Html</span>
      </div>
      <div class="mt-6 flex gap-4">
        <a href="#" class="text-sm font-medium text-cyan-400 hover:underline">Case Study →</a>
        <a href="#" class="text-sm font-medium text-on-surface-muted hover:text-white">Live Demo</a>
      </div>
    </div>
  </div> -->


  <h1 style="text-align: center;"> Coming Soon </h1>
</section>