<section class="py-section-gap max-w-container-max mx-auto px-margin-mobile" id="projects">
    <div class="flex flex-col md:flex-row justify-between items-end mb-stack-xl gap-stack-md">
        <div>
            <h2 class="font-headline-lg text-headline-lg mb-stack-sm">Featured Work</h2>
            <p class="text-on-surface-variant font-body-lg">Solutions engineered for scalability and impact.</p>
        </div>
        <a
            class="font-label-md text-label-md text-primary flex items-center gap-stack-xs hover:gap-stack-sm transition-all"
            href="https://github.com/Andile-Maphalala" target="_blank">
            View GitHub <span class="material-symbols-outlined">arrow_forward</span>
    </a>
    </div>
</section>